<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to MediApp</h2>
    <p>
      Healthcare is in the middle of a mobile revolution. Doctors are adopting mobile apps that make them more effective, and patients are taking to ones that give them more control over their healthcare. Here are 11 apps that stand out from the crowd.
    </p>
    <p>
      Mobile medical apps are popping up all over. <a href="http://www.medicalforum.com" target="_blank">Medical Forum</a> Doctors are incorporating them into their practices to be more effective and efficient.
    </p>
    <p>
      For help medical related, join the <a href="https://www.healthline.com" target="_blank">Health Line</a> We also have other services available.
    </p>
    <div class="col-20">
    <onezone-datepicker datepicker-object="onezoneDatepicker">
      <button class="button button-block button-outline button-positive show-onezone-datepicker">
        {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
      </button>
    </onezone-datepicker>
    </div>
  </ion-content>
</ion-view>
